# Default reviewers
* @l2succes

/server/ @l2succes
/docker/ @l2succes
/supabase/ @l2succes
/mobile/ @l2succes
/desktop/ @l2succes
/website/ @l2succes
/packages/ @l2succes
/docs/ @l2succes
/.github/ @l2succes
